isdsbr:
  collections:
    all_theses:
      label: All Theses
      query: q=mods_genre_s%3A%22Thesis+%2F+Dissertation%22
      field_map: thesis
      target_collection: 123456789/66
    all_articles:
      label: All Articles
      query: q=mods_genre_s:Article
      field_map: article
      target_collection: 123456789/66
  fedora:
    admin_pass: xxxxxxxxxx
    admin_user: xxxxxxxxxx
    export_format: info:fedora/fedora-system:ATOMZip-1.1
    fedora_home: /usr/share/fedora
    hostname: chimera.hil.unb.ca
    java_home: /usr/lib/jvm/java-7-oracle-amd64
  solr:
    hostname: chimera.hil.unb.ca
    core: core1
    uri: http://localhost:8080/solr
